body {
    background:#bdc3c7; 
}

h1 {
    color: #bdc3c7;
}

h2 {
    color: orange;
}

li {
    color: #6495ED;
}

p {
    background: yellow;
}

input {
    border: 3px red;
}

.hello {
    background: white;
}

#special {
    border: 2px solid blueviolet;
}

div p {
    font-size: 25px;
}

input[type="text"] {
    background: gray
}

div:nth-of-type(3) p {
    background: pink;
}

div:nth-of-type(3) p:nth-of-type(2) {
    border: 5px white;
}

div:nth-of-type(3) em {
    font-size: 20px;
    color: white;
}

input:checked {
    margin-left: 50px;
}

label {
    text-transform:uppercase ;
}

#special::first-letter {
    color: green;
    font-size: 100px;
}

h1:hover {
    color: blue;
}

a:visited {
    color: gray;
}
